In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
df1 = pd.read_csv("project.csv")
df1 = df1.drop(df1.columns[0],axis=1)
df1

,Song Name,Published Date,Published Time,Duartion Time,Views,Likes,Comments,Language,Countries Allowed,Channel Name,Channel Country,Channel Published Date,Subscribes,Video Count,Total Views
0,Shakira - Waka Waka (This Time for Africa) (Th...,04/06/2010,22:30:35,03:31,3430156734,20107995.0,1278511.0,en-US,249,shakiraVEVO,NaN,02/09/2009,18400000,191,2.360025e+10
1,Justin Bieber - Baby ft. Ludacris,19/02/2010,08:16:34,03:40,2895467607,23119219.0,4804685.0,en-US,246,JustinBieberVEVO,US,26/09/2009,31700000,204,2.593110e+10
2,Eminem - Love The Way You Lie ft. Rihanna,05/08/2010,19:09:46,04:27,2528503555,12643828.0,598598.0,en-US,249,EminemVEVO,NaN,12/05/2009,24800000,104,1.958296e+10
3,Adele - Rolling in the Deep (Official Music Vi...,30/11/2010,23:29:12,03:54,2148871172,11532107.0,411271.0,en-US,249,AdeleVEVO,NaN,15/10/2009,15100000,52,1.190144e+10
4,Bruno Mars - Just The Way You Are (Official Mu...,08/09/2010,21:29:01,03:57,1786407074,7625136.0,242499.0,en-US,249,Bruno Mars,NaN,19/09/2006,36000000,99,1.832933e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,B Praak : UDD GAYA (Full Video) Jaani | Gurnam...,13/03/2022,04:30:00,04:10,50066892,656326.0,16227.0,en-GB,249,White Hill Music,IN,23/03/2014,22400000,5288,1.027827e+10
6496,ENCANTO - No se habla de Bruno (Cover) Hitomi ...,21/01/2022,20:22:28,04:12,50030052,315787.0,6105.0,es-419,249,Hitomi Flor,AR,23/09/2009,747000,351,3.069123e+08
6497,La Adictiva & Luis R. Conriquez - JGL (Video O...,18/02/2022,22:45:00,02:42,50039109,454661.0,3591.0,NaN,249,La Adictiva,NaN,22/05/2015,4340000,220,4.077869e+09
6498,TAEYEON 태연 'INVU' MV,14/02/2022,09:00:05,03:38,49972834,1169928.0,50333.0,ko,249,SMTOWN,NaN,18/03/2006,31300000,4054,2.622516e+10
6499,"Lut Gaye (Full Song) Emraan Hashmi, Yukti | Ju...",17/02/2021,06:30:11,04:58,1277115367,10436212.0,339388.0,hi,249,T-Series,IN,13/03/2006,233000000,18465,2.120000e+11

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Song Name               6500 non-null   object
 1   Published Date          6500 non-null   object
 2   Published Time          6500 non-null   object
 3   Duartion Time           6500 non-null   object
 4   Views                   6500 non-null   int64
 5   Likes                   6488 non-null   float64
 6   Comments                6440 non-null   float64
 7   Language                4514 non-null   object
 8   Countries Allowed       6500 non-null   int64
 9   Channel Name            6500 non-null   object
 10  Channel Country         3961 non-null   object
 11  Channel Published Date  6500 non-null   object
 12  Subscribes              6500 non-null   int64
 13  Video Count             6500 non-null   int64
 14  Total Views             6500 non-null   float64
dtypes: float64(3), int64(4), object(8)
memory usage: 761.8+ KB

In [4]:
df1 = df1[df1["Language"].notna()]

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4514 entries, 0 to 6499
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Song Name               4514 non-null   object
 1   Published Date          4514 non-null   object
 2   Published Time          4514 non-null   object
 3   Duartion Time           4514 non-null   object
 4   Views                   4514 non-null   int64
 5   Likes                   4506 non-null   float64
 6   Comments                4476 non-null   float64
 7   Language                4514 non-null   object
 8   Countries Allowed       4514 non-null   int64
 9   Channel Name            4514 non-null   object
 10  Channel Country         2784 non-null   object
 11  Channel Published Date  4514 non-null   object
 12  Subscribes              4514 non-null   int64
 13  Video Count             4514 non-null   int64
 14  Total Views             4514 non-null   float64
dtypes: float64(3), int64(4), object(8)
memory usage: 564.2+ KB

In [6]:
# drop duplicate with same name songs

df1 = df1.drop_duplicates(subset = 'Song Name')

In [7]:
# change NAN in Channel Country

df1["Channel Country"] = df1["Channel Country"].fillna(method='bfill')

In [8]:
# change NAN in comments and likes

df1["Likes"] = df1["Likes"].fillna(value = df1["Likes"].mean())
df1["Comments"] = df1["Comments"].fillna(value = df1["Comments"].mean())

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4470 entries, 0 to 6499
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Song Name               4470 non-null   object
 1   Published Date          4470 non-null   object
 2   Published Time          4470 non-null   object
 3   Duartion Time           4470 non-null   object
 4   Views                   4470 non-null   int64
 5   Likes                   4470 non-null   float64
 6   Comments                4470 non-null   float64
 7   Language                4470 non-null   object
 8   Countries Allowed       4470 non-null   int64
 9   Channel Name            4470 non-null   object
 10  Channel Country         4470 non-null   object
 11  Channel Published Date  4470 non-null   object
 12  Subscribes              4470 non-null   int64
 13  Video Count             4470 non-null   int64
 14  Total Views             4470 non-null   float64
dtypes: float64(3), int64(4), object(8)
memory usage: 558.8+ KB

In [10]:
#Convert Song Name to numeric

for i, row in df1.iterrows():
    df1.at[i, 'Song Name'] = i
df1["Song Name"] = pd.to_numeric(df1["Song Name"], errors="coerce")

In [11]:
#Convert Published Date to nomeric

df1["Published Date"] = df1["Published Date"].str[6:]
df1["Published Date"] = pd.to_numeric(df1["Published Date"], errors="coerce")

In [12]:
#Convert Published Time to numeric

df1["Published Time"] = df1["Published Time"].str[:-6]
df1["Published Time"] = pd.to_numeric(df1["Published Time"], errors="coerce")

In [13]:
#Convert Duartion Time to numeric

num_min = df1["Duartion Time"].str[:-3]
num_min = pd.to_numeric(num_min, errors="coerce")
num_sec = df1["Duartion Time"].str[3:]
num_sec = pd.to_numeric(num_sec, errors="coerce")
df1["Duartion Time"] = round(num_min + (num_sec)/60,2)

In [14]:
#Convert Language,Channel Name and Country

df1["Language"] = LabelEncoder().fit_transform(df1["Language"])
df1["Channel Name"] = LabelEncoder().fit_transform(df1["Channel Name"])
df1["Channel Country"] = LabelEncoder().fit_transform(df1["Channel Country"])

In [15]:
#Convert Channel Published Date to nomeric

df1["Channel Published Date"] = df1["Channel Published Date"].str[6:]
df1["Channel Published Date"] = pd.to_numeric(df1["Channel Published Date"], errors="coerce")

In [16]:
df1

,Song Name,Published Date,Published Time,Duartion Time,Views,Likes,Comments,Language,Countries Allowed,Channel Name,Channel Country,Channel Published Date,Subscribes,Video Count,Total Views
0,0,2010,22,3.52,3430156734,20107995.0,1278511.0,7,249,1055,45,2009.0,18400000,191,2.360025e+10
1,1,2010,8,3.67,2895467607,23119219.0,4804685.0,7,246,427,45,2009.0,31700000,204,2.593110e+10
2,2,2010,19,4.45,2528503555,12643828.0,598598.0,7,249,278,31,2009.0,24800000,104,1.958296e+10
3,3,2010,23,3.90,2148871172,11532107.0,411271.0,7,249,29,31,2009.0,15100000,52,1.190144e+10
4,4,2010,21,3.95,1786407074,7625136.0,242499.0,7,249,145,31,2006.0,36000000,99,1.832933e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6494,6494,2022,5,4.62,50187927,401459.0,11062.0,32,249,1036,45,2018.0,504000,39,2.092406e+08
6495,6495,2022,4,4.17,50066892,656326.0,16227.0,5,249,951,19,2014.0,22400000,5288,1.027827e+10
6496,6496,2022,20,4.20,50030052,315787.0,6105.0,9,249,362,2,2009.0,747000,351,3.069123e+08
6498,6498,2022,9,3.63,49972834,1169928.0,50333.0,20,249,764,19,2006.0,31300000,4054,2.622516e+10
6499,6499,2021,6,4.97,1277115367,10436212.0,339388.0,14,249,846,19,2006.0,233000000,18465,2.120000e+11

In [17]:
df1 = df1[df1["Duartion Time"].notna()]
df1 = df1[df1["Channel Published Date"].notna()]

In [18]:
df1.to_csv("Final Clean.csv")

In [19]:
df1

,Song Name,Published Date,Published Time,Duartion Time,Views,Likes,Comments,Language,Countries Allowed,Channel Name,Channel Country,Channel Published Date,Subscribes,Video Count,Total Views
0,0,2010,22,3.52,3430156734,20107995.0,1278511.0,7,249,1055,45,2009.0,18400000,191,2.360025e+10
1,1,2010,8,3.67,2895467607,23119219.0,4804685.0,7,246,427,45,2009.0,31700000,204,2.593110e+10
2,2,2010,19,4.45,2528503555,12643828.0,598598.0,7,249,278,31,2009.0,24800000,104,1.958296e+10
3,3,2010,23,3.90,2148871172,11532107.0,411271.0,7,249,29,31,2009.0,15100000,52,1.190144e+10
4,4,2010,21,3.95,1786407074,7625136.0,242499.0,7,249,145,31,2006.0,36000000,99,1.832933e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6494,6494,2022,5,4.62,50187927,401459.0,11062.0,32,249,1036,45,2018.0,504000,39,2.092406e+08
6495,6495,2022,4,4.17,50066892,656326.0,16227.0,5,249,951,19,2014.0,22400000,5288,1.027827e+10
6496,6496,2022,20,4.20,50030052,315787.0,6105.0,9,249,362,2,2009.0,747000,351,3.069123e+08
6498,6498,2022,9,3.63,49972834,1169928.0,50333.0,20,249,764,19,2006.0,31300000,4054,2.622516e+10
6499,6499,2021,6,4.97,1277115367,10436212.0,339388.0,14,249,846,19,2006.0,233000000,18465,2.120000e+11